@use 'styles/utils/variables' as vars;

.form {
  &__group {
    margin: vars.$form-group-margin;
  }

  &__field {
    display: flex;
    align-items: center;
    gap: 15px;

    &--position-relative {
      position: relative;
    }

    &--inline {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 8px;
    }

    &--column {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 0;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &__label {
    display: block;
    font-weight: vars.$form-label-font-weight;
    color: vars.$form-label-color;

    &--visibility-hidden {
      visibility: hidden;
      height: 0;
      overflow: hidden;
    }
  }

  &__input {
    min-width: vars.$form-input-min-width;
    padding: vars.$form-input-padding;
    margin-top: vars.$form-input-margin-top;
    box-sizing: border-box;

    border: vars.$form-input-border; 
    border-radius: vars.$form-input-border-radius;
    outline: none;

    &:focus {
      border-color: vars.$form-input-border-color;
      box-shadow: vars.$form-input-box-shadow; 
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: vars.$form-actions-gap;
  }
}