@use 'styles/utils/variables' as vars;

.form {
  &__group {
    margin: vars.$form-group-margin;
  }

  &__field {
    display: flex;
    align-items: center;
    gap: vars.$form-field-gap;

    &--position-relative {
      position: relative;
    }

    &--inline {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: vars.$form-field-inline-gap;
    }

    &--column {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: vars.$form-field-column-gap;

      &:not(:last-child) {
        margin-bottom: vars.$form-field-column-margin-bottom;
      }
    }
  }

  &__label {
    display: block;
    font-weight: vars.$form-label-font-weight;
    color: vars.$form-label-color;

    &--visibility-hidden {
      visibility: hidden;
      height: 0;
      overflow: hidden;
    }
  }

  &__input {
    min-width: vars.$form-input-min-width;
    padding: vars.$form-input-padding;
    margin-top: vars.$form-input-margin-top;
    box-sizing: border-box;
    min-height: vars.$form-input-height;

    border: vars.$form-input-border; 
    border-radius: vars.$form-input-border-radius;
    outline: none;

    &:focus {
      border-color: vars.$form-input-border-color;
      box-shadow: vars.$form-input-box-shadow; 
    }
  }

  ::ng-deep .ng-select {
    .ng-select-container {
      width: vars.$form-input-select-width !important;
      min-height: vars.$form-input-height !important;
      align-items: center;
      margin-top: vars.$form-input-margin-top;
      padding: auto 0;
      box-sizing: border-box;

      border: vars.$form-input-border !important;
      border-radius: vars.$form-input-border-radius !important;

      outline: none;
      box-shadow: none !important;
    }

    .ng-value-container {
      align-items: flex-start !important;
      max-height: vars.$form-input-select-max-height !important;
      overflow-y: auto !important;

      &::-webkit-scrollbar {
        display: none !important;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .ng-placeholder {
      top: vars.$form-input-ng-placeholder-top;
      transform: vars.$form-input-ng-placeholder-transform;
      color: vars.$form-input-ng-placeholder-color;
    }

    .ng-clear-wrapper {
      align-self: center !important;
      padding-bottom: 2px !important;
    }

    .ng-arrow-wrapper {
      align-self: center !important;

      .ng-arrow {
        fill: #000 !important;
        stroke: #000 !important;
      }
    }

    &:hover .ng-arrow {
      border-color: #000 transparent transparent;
    }

    &:not(.ng-select-opened) {
      .ng-arrow {
        border-color: #000 transparent transparent !important;
      }
    }

    &.ng-select-opened {
      .ng-arrow {
        border-color: transparent transparent #000 !important;
      }
    }

    .ng-dropdown-panel {
      .ng-dropdown-panel-items {
        max-height: vars.$form-input-dropdown-max-height !important;
        overflow-y: auto !important;
      }
    }

    &.ng-select-focused .ng-select-container {
      border-color: vars.$form-input-border-color !important;
      box-shadow: vars.$form-input-box-shadow !important;
    }
  }

  &__field--single-select {
    ::ng-deep .ng-select {
      .ng-select-container {
        width: vars.$form-input-single-select-width;
        display: flex !important;
        align-items: center !important;
      }

      .ng-value-container {
        display: flex !important;
        align-items: center !important;
      }

      .ng-placeholder {
        top: 50% !important;
        transform: translateY(-57%) !important; 
        line-height: normal !important;
        padding-left: 0 !important;
        margin: 0 !important;
      }

      .ng-input {
        display: flex !important;
        align-items: center !important;
        top: 0 !important;
        bottom: 0 !important;
      }

      .ng-value {
        margin: 0 !important;
        display: flex !important;
        align-items: center !important;
        line-height: normal !important;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: vars.$form-actions-gap;
  }
}