@use 'styles/utils/variables' as vars;

.table-manager {
  margin-inline: vars.$table-manager-margin-inline;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__filter {
    display: flex;
    justify-content: center;
    margin-bottom: vars.$table-manager-filter-margin-bottom;
  }

  &__content {
    display: flex;
    justify-content: center;

    &--schedule-slot {
      width: 100%;
    }

    &--student {
      width: fit-content;
    }

    height: auto;
    overflow: hidden;
    border: vars.$table-manager-content-border;
    border-top-left-radius: vars.$table-manager-content-border-top-left-radius;
    border-top-right-radius: vars.$table-manager-content-border-top-right-radius;
  }

  &__scroll-container {
    max-height: vars.$table-manager-scroll-container-max-height;
    overflow-y: auto;
  }
}