<div class="action-bar">
  <div class="action-bar__info">
    <h2 class="action-bar__title">Керування заняттями</h2>
  </div>

  <div class="action-bar__actions">
    <button 
      class="btn-control btn-control--add" 
      (click)="openControlModal(ModalType.ADD)"
      title="Додати нове заняття">
      +
    </button>

    <button 
      class="btn-control btn-control--refresh" 
      (click)="openControlModal(ModalType.GENERATE)"
      title="Сгенерувати заняття">
      Генерувати заняття
    </button>
  </div>
</div>

@if (activeModal() !== ModalType.NONE) {
  <div class="modal modal--large"> 
    <div class="modal__content modal__content--large" (click)="$event.stopPropagation()">
      @if (activeModal() === ModalType.ADD) {
        <h3 class="modal__title">Додати заняття</h3>
        <form class="form" #addForm="ngForm" (click)="stopShowStudentsList()" (ngSubmit)="createScheduleSlot(addForm)">
          <div class="form__group">
            <div class="form__field">
              <label class="form__label">Дата:</label>
              <input class="form__input" type="date" name="date" ngModel required>
            </div>

            <div class="form__field">
              <label class="form__label">Час з:</label>
              <input class="form__input" type="time" name="startTime" ngModel required>
            </div>

            <div class="form__field">
              <label class="form__label">Час до:</label>
              <input class="form__input" type="time" name="endTime" ngModel required>
            </div>

            <app-student-autocomplete
              name="studentName"
              containerClass="form__field form__field--position-relative"
              labelClass="form__label"
              inputClass="form__input"
              ngModel
              (selectedStudent)="selectStudent($event, addForm)"
              placeholder="Пошук за ім'ям..."
              required
              autocomplete="off"
            >
            </app-student-autocomplete>

            <div class="form__field">
              <label class="form__label">Телефон учня:</label>
              <input 
                class="form__input" 
                type="tel" 
                name="studentPhoneNumber" 
                ngModel 
                placeholder="Номер телефону...">
            </div>

            <div class="form__field">
              <label class="form__label">Інструктор:</label>
              <select 
                class="form__input" 
                name="instructorId" 
                ngModel 
                required>
                <option value="" disabled selected>Оберіть інструктора...</option>
                @for (instructor of foundInstructors(); track instructor.id) {
                  <option [value]="instructor.id">
                    {{ instructor.name }}
                  </option>
                }
              </select>
            </div>

            <div class="form__field">
              <label class="form__label">Машина:</label>
              <select 
                class="form__input" 
                name="carId" 
                ngModel 
                required>
                <option value="" disabled selected>Оберіть машину...</option>
                @for (car of foundCars(); track car.id) {
                  <option [value]="car.id">
                    {{ car.name }}
                  </option>
                }
              </select>
            </div>

            <div class="form__field">
              <label class="form__label">Опис:</label>
              <textarea class="form__input" name="description" ngModel placeholder="Додаткова інформація..."></textarea>
            </div>

            <div class="form__field">
              <label class="form__label">Посилання:</label>
              <textarea class="form__input" name="link" ngModel placeholder="Посилання..."></textarea>
            </div>
          </div>

          <div class="form__actions">
            <button type="button" class="btn-control btn-control--cancel" (click)="closeControlModal()">Відмінити</button>
            <button type="submit" class="btn-control btn-control--save" [disabled]="addForm.invalid">Зберегти</button>
          </div>
        </form>
      }
      @else if (activeModal() === ModalType.UPDATE && slotForUpdate) {
        <h3 class="modal__title">Оновити заняття</h3>
        <form class="form" #updateForm="ngForm" (click)="stopShowStudentsList()" (ngSubmit)="updateScheduleSlot(updateForm)">
          <div class="form__group">
            <div class="form__field">
              <label class="form__label">Дата:</label>
              <input 
              class="form__input" 
              type="date" 
              name="date" 
              [ngModel]="slotForUpdate.date | date:'yyyy-MM-dd'"
              required>
            </div>

            <div class="form__field">
              <label class="form__label">Час з:</label>
              <input class="form__input" type="time" name="startTime" [ngModel]="slotForUpdate.startTime" required>
            </div>

            <div class="form__field">
              <label class="form__label">Час до:</label>
              <input class="form__input" type="time" name="endTime" [ngModel]="slotForUpdate.endTime" required>
            </div>

            <app-student-autocomplete
              name="studentName"
              containerClass="form__field form__field--position-relative"
              labelClass="form__label"
              inputClass="form__input"
              [ngModel]="selectedStudent()?.name"
              (selectedStudent)="selectStudent($event, updateForm)"
              placeholder="Пошук за ім'ям..."
              required
              autocomplete="off"
            >
            </app-student-autocomplete>

            <div class="form__field">
              <label class="form__label">Телефон учня:</label>
              <input 
                class="form__input" 
                type="tel" 
                name="studentPhoneNumber" 
                [ngModel]="slotForUpdate.studentDto?.phoneNumber"
                placeholder="Номер телефону...">
            </div>

            <div class="form__field">
              <label class="form__label">Інструктор:</label>
              <select 
                class="form__input" 
                name="instructorId" 
                [ngModel]="slotForUpdate.instructorDto?.id"
                required>
                <option value="" disabled selected>Оберіть інструктора...</option>
                @for (instructor of foundInstructors(); track instructor.id) {
                  <option [value]="instructor.id">
                    {{ instructor.name }}
                  </option>
                }
              </select>
            </div>

            <div class="form__field">
              <label class="form__label">Машина:</label>
              <select 
                class="form__input" 
                name="carId" 
                [ngModel]="slotForUpdate.carDto?.id"
                required>
                <option value="" disabled selected>Оберіть машину...</option>
                @for (car of foundCars(); track car.id) {
                  <option [value]="car.id">
                    {{ car.name }}
                  </option>
                }
              </select>
            </div>

            <div class="form__field">
              <label class="form__label">Опис:</label>
              <textarea class="form__input" name="description" [ngModel]="slotForUpdate.description" placeholder="Додаткова інформація..."></textarea>
            </div>

            <div class="form__field">
              <label class="form__label">Посилання:</label>
              <textarea class="form__input" name="link" [ngModel]="slotForUpdate.link" placeholder="Посилання..."></textarea>
            </div>
          </div>

          <div class="form__actions">
            <button type="button" class="btn-control btn-control--cancel" (click)="closeControlModal()">Відмінити</button>
            <button type="submit" class="btn-control btn-control--save" [disabled]="updateForm.invalid">Зберегти</button>
          </div>
        </form>
      }
      @else if (activeModal() === ModalType.DELETE && slotForDelete) {
        <h3 class="modal__title">Видалити заняття?</h3>
        <form class="form" #deleteForm="ngForm" (ngSubmit)="deleteScheduleSlot()">
          <div class="form__group">
            <div class="form__field">
              <label class="form__label">Дата:</label>
              <input 
                class="form__input" 
                type="date"
                [ngModel]="slotForDelete.date | date:'yyyy-MM-dd'"
                [ngModelOptions]="{standalone: true}"
                readonly
              >
            </div>

            <div class="form__field">
              <label class="form__label">Час з:</label>
              <input 
                class="form__input" 
                type="time" 
                name="startTime" 
                [ngModel]="slotForDelete.startTime" 
                [ngModelOptions]="{standalone: true}"
                readonly
              >
            </div>

            <div class="form__field">
              <label class="form__label">Час до:</label>
              <input 
                class="form__input" 
                type="time" 
                name="endTime" 
                [ngModel]="slotForDelete.endTime" 
                [ngModelOptions]="{standalone: true}"
                readonly
              >
            </div>

            <div class="form__field form__field--position-relative">
              <label class="form__label">Учень (обов'язково):</label>
              <input
                class="form__input"
                type="text"
                [ngModel]="slotForDelete.studentDto?.name"
                [ngModelOptions]="{standalone: true}"
                readonly
              >
            </div>

            <div class="form__field">
              <label class="form__label">Телефон учня:</label>
              <input 
                class="form__input" 
                type="tel"
                [ngModel]="slotForDelete.studentDto?.phoneNumber"
                [ngModelOptions]="{standalone: true}"
                readonly
              >
            </div>

            <div class="form__field">
              <label class="form__label">Інструктор:</label>
              <input 
                class="form__input"
                [ngModel]="slotForDelete.instructorDto?.name"
                [ngModelOptions]="{standalone: true}"
                readonly
              >
            </div>

            <div class="form__field">
              <label class="form__label">Машина:</label>
              <input 
                class="form__input"
                [ngModel]="slotForDelete.carDto?.name"
                [ngModelOptions]="{standalone: true}"
                readonly
              >
            </div>

            <div class="form__field">
              <label class="form__label">Опис:</label>
              <textarea 
                class="form__input"
                [ngModel]="slotForDelete.description"
                [ngModelOptions]="{standalone: true}"
                readonly
              >
              </textarea>
            </div>

            <div class="form__field">
              <label class="form__label">Посилання:</label>
              <textarea 
                class="form__input"
                [ngModel]="slotForDelete.link"
                [ngModelOptions]="{standalone: true}"
                readonly
              >
              </textarea>
            </div>
          </div>

          <div class="form__actions">
            <button type="button" class="btn-control btn-control--cancel" (click)="closeControlModal()">Відмінити</button>
            <button type="submit" class="btn-control btn-control--save">Видалити</button>
          </div>
        </form>
      }
      @else if (activeModal() === ModalType.GENERATE) {
        <h3 class="modal__title">Сгенерувати заняття</h3>
        <form class="form" #generateForm="ngForm" (ngSubmit)="generateSlots(generateForm)">
          <div class="form__group">
            <div class="form__field">
              <label class="form__label">Кількість днів:</label>
              <select 
                class="form__input"
                name="days"
                [ngModel]="14"
                required
                min="1"
              >
                @for (day of daysOptions; track day) {
                  <option [value]="day">
                    {{ day }} днів
                  </option>
                }
              </select>
            </div>

            <div class="form__field form__field--select-instructors">
              <label class="form__label">Інструктори:</label>
              <ng-select 
                [items]="foundInstructors()" 
                bindLabel="name" 
                bindValue="id" 
                [multiple]="true"
                [closeOnSelect]="false"
                placeholder="Усі (за замовчуванням)"
                name="instructorIds"
                ngModel>
                
                <ng-template ng-option-tmp let-item="item" let-item$="item$">
                  <input type="checkbox" [checked]="item$.selected" /> {{item.name}}
                </ng-template>
              </ng-select>
            </div>

            <div class="form__field form__field--select-cars">
              <label class="form__label">Машини:</label>
              <ng-select 
                [items]="foundCars()" 
                bindLabel="name" 
                bindValue="id" 
                [multiple]="true" 
                [closeOnSelect]="false"
                placeholder="Усі (за замовчуванням)"
                name="carIds"
                ngModel>
                
                <ng-template ng-option-tmp let-item="item" let-item$="item$">
                  <input type="checkbox" [checked]="item$.selected" /> {{item.name}}
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="form__actions">
            <button type="button" class="btn-control btn-control--cancel" (click)="closeControlModal()">Відмінити</button>
            <button type="submit" class="btn-control btn-control--save" [disabled]="isGenerating">Сгенерувати</button>
          </div>
        </form>
      }
    </div>
  </div>
}

<app-schedule-slot-table
  (onUpdate)="openUpdateModal($event)"
  (onDelete)="openDeleteModal($event)">
</app-schedule-slot-table>